body {
    margin: 0;
    height: 100vh;
    position: relative;
}

* {
    box-sizing: border-box;
}

.calculator {
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
}

.output {
    border: 1px solid black;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 6px;
    font-size: 16px;
}

.current-operand, .previous-operand {
    text-align: right;
    max-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.current-operand {
    font-size: 16px;
}

.previous-operand {
    font-size: 12px;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    justify-content: center;
    align-items: center;
}

button {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.span-2 {
    width: 100px;
    grid-column: span 2;
}